@charset "utf-8";
body {
  height: 800px;
  overflow: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* a:hover = a link when the user mouses over it */
a:hover {
  color: rgb(192, 196, 199);
}

/* a.active = a link the moment it is clicked */
a:active {
  color: beige;
}

a:visited {
  color: azure;
}

h1 {
  font-size: 150%;
  text-align: center;
}

.saw {
  color: gray;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows:
    [item1-start] 15%
    [item1-end item2-start] 5%
    [item2-end body-start] 80%
    [body-end item3-start] 30px
    [item3-end]100px;

  grid-template-columns:
    [] 33%
    [ddddd] 33%
    [] 33%;
}
.item1 {
  grid-column-start: 1;

  grid-column-end: 4;
}
img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}
