@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100px 1fr 500px;
  grid-template-areas:
    "header header header"
    "bar   bar    bar"
    "a   item    b"
    "footer  footer footer";
}

.header {
  grid-area: header;

  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  grid-area: bar;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.bar {
  border-bottom: 1px solid black;
}

.sidebar-a {
  grid-area: a;
  display: flex;
  flex-direction: column;
}
.sidebar-a img {
  width: 30rem;
  height: 30rem;
}

.main {
  grid-area: item;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.sidebar-b {
  grid-area: b;
}

.footer {
  grid-area: footer;
}

.footer > p {
  color: white;
}

.bar_menu {
  display: flex;
  font-size: 80%;
}
.main img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  height: 90%;
  min-width: 500px;
  min-height: 500px;
}

.main_p {
  border-bottom: 3px solid black;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.module {
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
  padding-bottom: 10px;
}

.module_left {
  display: flex;
  flex-direction: row;
}
.module_right {
  display: flex;
  border-left: 1px solid gray;
  justify-content: flex-start;
}

.module .module_img {
  display: flex;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.main_h1 {
  margin-left: 30px;
  margin-right: 30px;
}
.module_left > p {
  display: flex;
  flex-direction: row;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  width: 40rem;
  height: 30rem;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 25em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  width: 40rem;
  height: 5rem;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 50em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_bg {
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/e8/9c/78/e89c78e2dd46803b5e01014062619826.jpg");
  filter: blur(5px);
}

.login_page input {
  width: 30em;
  height: 5em;

  border-radius: 5px;
  border: none;

  margin-bottom: 15px;
}

.login_page button {
  display: flex;

  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 30em;
  height: 5em;

  margin-bottom: 5px;
  transition: all 0.9s, color 0.3s;
}

.login_page button:hover {
  color: black;
  background-color: white;
}

.login_page a {
  text-decoration: none;
}

.login_body {
  display: flex;
  flex-direction: column;
}
