@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 100px 1fr 500px;
  grid-template-areas:
    "header header header"
    "bar   bar    bar"
    "a   item    b"
    "footer  footer footer";
}

.header {
  grid-area: header;

  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  grid-area: bar;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

div.bar {
  border-bottom: 1px solid black;
}

.sidebar-a {
  grid-area: a;
}

.main {
  grid-area: item;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.sidebar-b {
  grid-area: b;
}

.footer {
  grid-area: footer;
}

.footer > p {
  color: white;
}

.bar_menu {
  display: flex;
  font-size: 80%;
}
.main_img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  height: 90%;
}

.main_p {
  border-bottom: 3px solid black;
  padding-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.module {
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
  padding-bottom: 10px;
}

.module_left {
  display: flex;
  flex-direction: row;
}
.module_right {
  display: flex;
  border-left: 1px solid gray;
  justify-content: flex-start;
}

.module .module_img {
  display: flex;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.main_h1 {
  margin-left: 30px;
  margin-right: 30px;
}
.module_left > p {
  display: flex;
  flex-direction: row;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.5);
}

.login_page input {
  width: 30em;
  height: 5em;

  border-radius: 5px;
  border: none;

  margin-bottom: 15px;
}

.login_page button {
  display: flex;

  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 30em;
  height: 5em;

  margin-bottom: 5px;
}

.login_page a {
  text-decoration: none;
}
