@charset "utf-8";

a {
  color: black;
  text-decoration: none;
}

/* a:hover = a link when the user mouses over it */
a:hover {
  color: rgb(192, 196, 199);
}

/* a.active = a link the moment it is clicked */
a:active {
  color: beige;
}

a:visited {
  color: azure;
}

h1 {
  font-size: 95%;
  text-align: center;
}

.saw {
  color: gray;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows:
    [body-start] 10%
    [body-end footer-start] 80%
    [footer-end] 10%;

  grid-template-columns:
    [left-navbar-start] 33%
    [left-navbar-end content-start] 33%
    [content-end right-sidebar-start] 33%
    [right-sidebar-end];
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
img {
  width: 80%;
  height: 80%;
}
